#Bar{
    width: 300px;
    height: 30px;
    min-width: 200px;
    min-height: 30px;
    border: black solid;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
}

#UI {
    border: black solid;
    box-sizing: border-box;
}