body{
    display: flex;
}

#Bar{
    width: 270px;
    height: 30px;
    min-width: 230px;
    min-height: 30px;
    margin: 10px;
    border: black solid;
    background-color: black;
    color: #39ff14;
    text-overflow: overflow;
}

button {
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
}

#UI {
    width: 309px;
    height: 400px;
    border: black solid;
    box-sizing: border-box;
    background-color: gray;
    margin: 10px;
}

#history{
    width: 400px;
    height: 400px;
    border: gray solid 10px;
    background-color: black;
    color: #39ff14;
    overflow-y: auto;
    overflow-x: hidden;
}